.App {
  background-color: white;
  color: black;
}

.settings {

  & button {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
  }

  & .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }

  & .popup {
    width: 75vw;
    height: 75vh;
    max-width: 40em;
    
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);

    padding: 1em;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10000;

      & h1 {
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      & p {
        /*background: #F7EECF url(../public/images/ui-background/settings.png) no-repeat 0 0 scroll;
        background-size: auto 14px;*/
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: rgb(0,0,0,0.9);
        border-radius: 5px;
        color: whitesmoke;

        padding: 1em;

        min-height: 2em;
        align-content: center;

        & :before {
          display: block;
          position: absolute;
          width: calc(100%-6px);
          height: calc(100%-6px);
          border: 3px solid rgb(106,101,74, 0.9);
          background-color: transparent;
          border-radius: 5px;
        }
      }

  }
}