.App {
  background-color: white;
  color: black;
  font-family: "./public/fonts/Garamong-Regular";
  letter-spacing: 0.025em;
  font-size: 15px;
}

.settings {

  & button {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
  }

  & .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }

  & .popup {
    --popup-radius: 20px;
    --popup-padding: 1em;

    width: 75vw;
    height: 75vh;
    max-width: 40em;
    
    border-radius: var(--popup-radius);
    box-shadow: 0 0 10px rgb(0,0,0,1);

    padding: var(--popup-padding);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  white;
    z-index: 10000;

    clip-path: url("https://raw.githubusercontent.com/srishti-lamba/FEW3H-BattleList/refs/heads/main/public/images/ui-background/two-diamonds.svg#two-diamonds");
    /*clip-path: path("m 0 30 L 30 0 L 49 19 L 68 0 L 98 30 L 68 60 L 49 41 L 30 60 Z m 36 20 L 47 39 L 38 30 L 47 21 L 36 10 L 16 30 Z M 51 21 L 60 30 L 51 39 L 62 50 L 82 30 L 62 10 L 51 21 Z");
    clip-path: path("m 0 0.5 L 0.306 0 L 0.5 0.317 L 0.694 0 L 1 0.5 L 0.694 1 L 0.5 0.683 L 0.306 1 Z m 0.367 0.333 L 0.48 0.65 L 0.388 0.5 L 0.48 0.35 L 0.367 0.167 L 0.163 0.5 Z M 0.52 0.35 L 0.612 0.5 L 0.52 0.65 L 0.633 0.833 L 0.837 0.5 L 0.633 0.167 L 0.52 0.35 Z");
    clip-path: path("m 0% 50% L 30.6% 0% L 50% 31.7% L 69.4% 0% L 100% 50% L 69.4% 100% L 50% 68.3% L 30.6% 100% Z m 36.7% 33.3% L 48% 65% L 38.8% 50% L 48% 35% L 36.7% 16.7% L 16.3% 50% Z M 52% 35% L 61.2% 50% L 52% 65% L 63.3% 83.3% L 83.7% 50% L 63.3% 16.7% L 52% 35% Z");*/
    /* https://yqnn.github.io/svg-path-editor/#P=M_0_30_L_30_0_L_49_19_L_68_0_L_98_30_L_68_60_L_49_41_L_30_60_Z_M_36_50_L_47_39_L_38_30_L_47_21_L_36_10_L_16_30_Z_M_51_21_L_60_30_L_51_39_L_62_50_L_82_30_L_62_10_L_51_21_Z */

    /* clip-path: path("M 0 41 L 30 11 L 49 30 L 79 0 L 109 30 L 128 11 L 158 41 L 128 71 L 109 52 L 79 82 L 49 52 L 30 71 Z M 36 61 L 47 50 L 38 41 L 47 32 L 36 21 L 16 41 Z M 51 32 L 60 41 L 51 50 L 79 78 L 107 50 L 98 41 L 107 32 L 79 4 L 51 32 Z M 111 50 L 122 61 L 142 41 L 122 21 L 111 32 L 120 41 L 111 50");
    https://yqnn.github.io/svg-path-editor/#P=M_0_41_L_30_11_L_49_30_L_79_0_L_109_30_L_128_11_L_158_41_L_128_71_L_109_52_L_79_82_L_49_52_L_30_71_Z_M_36_61_L_47_50_L_38_41_L_47_32_L_36_21_L_16_41_Z_M_51_32_L_60_41_L_51_50_L_79_78_L_107_50_L_98_41_L_107_32_L_79_4_L_51_32_Z_M_111_50_L_122_61_L_142_41_L_122_21_L_111_32_L_120_41_L_111_50
    */

      & h1 {
        width: 100%;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      & .section {
        --section-radius: 5px;

        display: flex;
        flex-direction: row;

        position: relative;
        align-content: center;

        max-height: 100%;
        width: calc(100% - (2 * var(--popup-padding)));

        padding: var(--popup-padding);
        margin: 0px;

        background-color: rgb(8,8,8,1);
        border-radius: var(--section-radius);
        color: white;

        box-shadow:
        inset 0 0 0 2px rgb(8,8,8,1),
        inset 0 0 0 4px rgb(106,101,74, 0.5);

        & .prompt {
          /*flex-basis: 30%;*/
          margin-right: 1em;
          min-height: 100%;
          align-content: center;
        }

        & .buttons {
          --button-border-radius: 4px;
          --button-gap: 2px;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex-grow: 1;
          gap: var(--button-gap);
          border-radius: calc( var(--button-border-radius) + var(--button-gap) );

          background: 
              linear-gradient(135deg, transparent, rgb(97,88,65,0.75)) border-box,
              linear-gradient(to right, transparent, rgb(141,141,122,1), 
                                        transparent, rgb(137,137,137,1),
                                        transparent, rgb(98,89,66,0.75),
                                        transparent, rgb(91,92,87,1),
                                        transparent, rgb(91,79,59,1)) border-box,
              linear-gradient(rgb(92,92,88,1) 0 0) border-box;

          & button {
            all: unset;
            height: fit-content;
            border-radius: 0px;
            /*border: 2px solid transparent;*/
            flex-grow: 1;
            flex-basis: 1em;
            z-index: 10001;

            text-align: center;
            align-items: center;
            overflow:hidden;
            padding: 0.5em 0px 0.5em 0px;
            margin: var(--button-gap) 0px var(--button-gap) 0px;

            /*background: 
              linear-gradient(rgb(9,9,9,1) 0 0) padding-box,
              linear-gradient(180deg, rgb(137,137,137,1), rgb(98,89,66,0.75)) border-box;*/

            background-color: rgb(9,9,9,1);
            color: rgb(73,73,73);
            
          }

          & button:first-of-type {
            border-top-left-radius: var(--button-border-radius);
            border-bottom-left-radius: var(--button-border-radius);
            margin-left: var(--button-gap);

            /*background: 
              linear-gradient(rgb(9,9,9,1) 0 0) padding-box,
              linear-gradient(135deg, transparent, rgb(141,141,122,0.75)) border-box,
              linear-gradient(to right, transparent, rgb(141,141,122,1), transparent, rgb(141,141,122,1)) border-box,
              linear-gradient(rgb(92,92,88,1) 0 0) border-box;*/
          }

          & button:last-of-type {
            border-top-right-radius: var(--button-border-radius);
            border-bottom-right-radius: var(--button-border-radius);
            margin-right: var(--button-gap);

            /*background: 
              linear-gradient(rgb(9,9,9,1) 0 0) padding-box,
              linear-gradient(135deg, transparent, rgb(91,79,59,0.75)) border-box,
              linear-gradient(to right, transparent, rgb(91,79,59,1), transparent, rgb(91,79,59,1)) border-box,
              linear-gradient(rgb(91,92,87,1) 0 0) border-box;*/
          }

          & button.active, button.active:hover {
            background-color: rgb(83,78,83);
            color: rgb(223,218,223,1);
          }

          & button:hover {
            background-color: rgb(39,39,39,1);
            color: rgb(123,118,123,1);
          }

        }

      }

      & .section:hover::before {
        display: block;
        content: '';
        box-sizing: border-box;

        background-color: transparent;
        border-radius: var(--section-radius);
        border: 1px solid white;
        box-shadow: inset 0 0 3px 1px rgb(255, 255, 255, 0.9), 0 0 3px 1px rgb(255, 255, 255, 0.9);

        height: calc(100% - 8px);
        width: calc(100% - 8px);
        position: absolute;
        top: 4px;
        left: 4px;
      }



  }

  & .popup::before {
    content: ' ';
    position: absolute;
    width: 70%;
    aspect-ratio: 1;
    background-color: rgb(225,227,224);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    clip-path: url(#three-diamonds);
    /*clip-path: path("M 0 41 L 30 11 L 49 30 L 79 0 L 109 30 L 128 11 L 158 41 L 128 71 L 109 52 L 79 82 L 49 52 L 30 71 Z M 36 61 L 47 50 L 38 41 L 47 32 L 36 21 L 16 41 Z M 51 32 L 60 41 L 51 50 L 79 78 L 107 50 L 98 41 L 107 32 L 79 4 L 51 32 Z M 111 50 L 122 61 L 142 41 L 122 21 L 111 32 L 120 41 L 111 50");
    clip-path: path("m 0 30 L 30 0 L 49 19 L 68 0 L 98 30 L 68 60 L 49 41 L 30 60 Z m 36 20 L 47 39 L 38 30 L 47 21 L 36 10 L 16 30 Z M 51 21 L 60 30 L 51 39 L 62 50 L 82 30 L 62 10 L 51 21 Z");*/
    background-size: cover;
  }

}

.MuiPaper-root {
  --Paper-shadow: none !important;

  & table.MuiTable-root {

    & thead.MuiTableHead-root {

      & tr.MuiTableRow-root {

        & th.MuiTableCell-head {
          font-family: inherit;
          font-size: inherit;
        }
      }
    }

    & tbody.MuiTableBody-root {

      gap: 0.5em;

      & tr.MuiTableRow-root {

        --edge: 8px;
        --var: 1.74;
        --end: 98.5;

        color: rgb(185, 113, 113);
        background-color: rgb(233,233,233,1) !important;
        box-shadow:
            inset 0 0 0 2px rgb(233,233,233,1),
            inset 0 0 0 4px rgb(169,152,104) !important;
        
        height: 3em;
      	aspect-ratio: 8.222;
      	clip-path: shape(
          from calc( var(--edge)*(1.74/var(--var))) 1.6%,
          curve to calc(var(--edge)*(1.08/var(--var))) 17.84% with calc(var(--edge)*(1.19/var(--var))) 04.58%/calc(var(--edge)*(1.08/var(--var))) 7.195%,
          curve to calc(var(--edge)*(1.04/var(--var))) 25.66% with calc(var(--edge)*(1.08/var(--var))) 22.05%/calc(var(--edge)*(1.06/var(--var))) 25.57%,
          curve to calc(var(--edge)*(0.27/var(--var))) 36.80% with calc(var(--edge)*(0.89/var(--var))) 26.20%/calc(var(--edge)*(0.27/var(--var))) 35.19%,
          curve to calc(var(--edge)*(0.22/var(--var))) 38.27% with calc(var(--edge)*(0.27/var(--var))) 37.15%/calc(var(--edge)*(0.25/var(--var))) 37.81%,
          curve to calc(var(--edge)*(0.22/var(--var))) 61.72% with calc(var(--edge)*(0.07/var(--var))) 43.05%/calc(var(--edge)*(0.07/var(--var))) 56.99%,
          curve to calc(var(--edge)*(0.27/var(--var))) 63.29% with calc(var(--edge)*(0.25/var(--var))) 62.17%/calc(var(--edge)*(0.27/var(--var))) 62.88%,
          curve to calc(var(--edge)*(0.92/var(--var))) 73.31% with calc(var(--edge)*(0.27/var(--var))) 64.43%/calc(var(--edge)*(0.73/var(--var))) 71.52%,
          line to calc(var(--edge)*(01.09/var(--var))) 74.9%,
          line to calc(var(--edge)*(01.09/var(--var))) 82.35%,
          curve to calc(var(--edge)*(1.71/var(--var))) 98.34% with calc(var(--edge)*(1.08/var(--var))) 92.58%/calc(var(--edge)*(1.17/var(--var))) 95.08%,
          line to calc(var(--edge)*(01.99/var(--var))) 100%,
          line to calc(var(--edge)*(50.00/var(--var))) 100%,
          line to calc((var(--edge)*((98.02 - var(--end))/var(--var))) + (100% - var(--edge))) 99.99%,
          line to calc((var(--edge)*((98.30 - var(--end))/var(--var))) + (100% - var(--edge))) 98.22%,
          curve to calc((var(--edge)*((98.90 - var(--end))/var(--var))) + (100% - var(--edge))) 83.49% with calc((var(--edge)*((98.80 - var(--end))/var(--var))) + (100% - var(--edge))) 95.10%/calc((var(--edge)*((98.88 - var(--end))/var(--var))) + (100% - var(--edge))) 93.23%,
          curve to calc((var(--edge)*((99.26 - var(--end))/var(--var))) + (100% - var(--edge))) 71.08% with calc((var(--edge)*((98.92 - var(--end))/var(--var))) + (100% - var(--edge))) 75.12%/calc((var(--edge)*((98.99 - var(--end))/var(--var))) + (100% - var(--edge))) 72.81%,
          curve to calc((var(--edge)*((99.72 - var(--end))/var(--var))) + (100% - var(--edge))) 63.22% with calc((var(--edge)*((99.35 - var(--end))/var(--var))) + (100% - var(--edge))) 70.57%/calc((var(--edge)*((99.72 - var(--end))/var(--var))) + (100% - var(--edge))) 64.15%,
          curve to calc((var(--edge)*((99.76 - var(--end))/var(--var))) + (100% - var(--edge))) 61.91% with calc((var(--edge)*((99.72 - var(--end))/var(--var))) + (100% - var(--edge))) 62.68%/calc((var(--edge)*((99.74 - var(--end))/var(--var))) + (100% - var(--edge))) 62.09%,
          curve to calc((var(--edge)*((99.92 - var(--end))/var(--var))) + (100% - var(--edge))) 42.14% with calc((var(--edge)*((99.98 - var(--end))/var(--var))) + (100% - var(--edge))) 60.08%/calc((var(--edge)*((100.0 - var(--end))/var(--var))) + (100% - var(--edge))) 47.05%,
          curve to calc((var(--edge)*((99.76 - var(--end))/var(--var))) + (100% - var(--edge))) 37.67% with calc((var(--edge)*((99.87 - var(--end))/var(--var))) + (100% - var(--edge))) 40.72%/calc((var(--edge)*((99.80 - var(--end))/var(--var))) + (100% - var(--edge))) 38.71%,
          curve to calc((var(--edge)*((99.11 - var(--end))/var(--var))) + (100% - var(--edge))) 26.97% with calc((var(--edge)*((99.67 - var(--end))/var(--var))) + (100% - var(--edge))) 35.02%/calc((var(--edge)*((99.34 - var(--end))/var(--var))) + (100% - var(--edge))) 29.55%,
          line to calc((var(--edge)*((98.92 - var(--end))/var(--var))) + (100% - var(--edge))) 24.8%,
          line to calc((var(--edge)*((98.89 - var(--end))/var(--var))) + (100% - var(--edge))) 16.78%,
          curve to calc((var(--edge)*((98.15 - var(--end))/var(--var))) + (100% - var(--edge))) 0.92% with calc((var(--edge)*((98.86 - var(--end))/var(--var))) + (100% - var(--edge))) 5.99%/calc((var(--edge)*((98.74 - var(--end))/var(--var))) + (100% - var(--edge))) 3.27%,
          curve to calc((var(--edge)*((49.97 - var(--end))/var(--var))) + (100% - var(--edge))) 0.01% with calc((var(--edge)*((97.91 - var(--end))/var(--var))) + (100% - var(--edge))) 0.01%/calc((var(--edge)*((97.67 - var(--end))/var(--var))) + (100% - var(--edge))) 0.02%,
          line to calc((var(--edge)*((2.03 - var(--end))/var(--var))) + (100% - var(--edge))) 0.03%,
          line to calc((var(--edge)*((1.74 - var(--end))/var(--var))) + (100% - var(--edge))) 1.6%
        );
        /* clip-path: shape(from left, 
          arc to right of 75% 150%, 
          arc to left  of 75% 150%
        ); */
        /* https://yqnn.github.io/svg-path-editor/#P=M_5.244_0.551_C_3.645_1.6_3.339_2.517_3.336_6.261_C_3.335_7.743_3.278_8.981_3.209_9.011_C_2.781_9.201_1.001_12.361_1.001_12.93_C_1.001_13.053_0.935_13.285_0.854_13.444_C_0_15.125_-0.001_20.027_0.853_21.689_C_0.934_21.849_1.001_22.097_1.001_22.241_C_1.001_22.644_2.333_25.137_2.884_25.764_L_3.375_26.324_L_3.353_28.945_C_3.323_32.54_3.607_33.421_5.167_34.566_L_5.962_35.15_L_144.773_35.149_L_283.584_35.148_L_284.408_34.524_C_285.855_33.428_286.075_32.769_286.137_29.344_C_286.19_26.401_286.386_25.591_287.192_24.983_C_287.431_24.803_288.499_22.546_288.5_22.219_C_288.501_22.028_288.553_21.82_288.617_21.756_C_289.259_21.115_289.564_16.534_289.081_14.805_C_288.942_14.307_288.743_13.6_288.638_13.233_C_288.374_12.302_287.403_10.379_286.74_9.472_L_286.183_8.71_L_286.119_5.888_C_286.033_2.095_285.662_1.138_283.957_0.314_C_283.275_-0.015_282.592_-0.017_144.678_-0.008_L_6.084_0_L_5.244_0.551_M_283.03_1.358_C_283.507_1.502_283.866_1.767_284.194_2.217_L_284.668_2.867_L_284.668_5.832_L_284.668_8.797_L_285.559_10.098_C_288.924_15.013_288.924_20.12_285.559_25.035_L_284.668_26.336_L_284.668_29.252_C_284.668_32.832_284.516_33.247_283.023_33.767_C_282.137_34.076_7.495_34.084_6.472_33.775_C_5.995_33.631_5.636_33.366_5.308_32.917_L_4.834_32.267_L_4.834_29.246_L_4.834_26.226_L_3.986_25.063_C_0.77_20.652_0.693_14.28_3.809_10.342_C_4.858_9.016_4.833_9.124_4.833_6.036_C_4.835_2.516_4.999_2.013_6.341_1.428_C_7.133_1.084_281.889_1.014_283.03_1.358 */
        /* https://yqnn.github.io/svg-path-editor/#P=M_5.244_0.551_C_3.645_1.6_3.339_2.517_3.336_6.261_C_3.335_7.743_3.278_8.981_3.209_9.011_C_2.781_9.201_1.001_12.361_1.001_12.93_C_1.001_13.053_0.935_13.285_0.854_13.444_C_0_15.125_-0.001_20.027_0.853_21.689_C_0.934_21.849_1.001_22.097_1.001_22.241_C_1.001_22.644_2.333_25.137_2.884_25.764_L_3.375_26.324_L_3.353_28.945_C_3.323_32.54_3.607_33.421_5.167_34.566_L_5.962_35.15_L_144.773_35.149_L_283.584_35.148_L_284.408_34.524_C_285.855_33.428_286.075_32.769_286.137_29.344_C_286.19_26.401_286.386_25.591_287.192_24.983_C_287.431_24.803_288.499_22.546_288.5_22.219_C_288.501_22.028_288.553_21.82_288.617_21.756_C_289.259_21.115_289.564_16.534_289.081_14.805_C_288.942_14.307_288.743_13.6_288.638_13.233_C_288.374_12.302_287.403_10.379_286.74_9.472_L_286.183_8.71_L_286.119_5.888_C_286.033_2.095_285.662_1.138_283.957_0.314_C_283.275_-0.015_282.592_-0.017_144.678_-0.008_L_6.084_0_L_5.244_0.551 */
        /* https://css-generators.com/svg-to-css/ */

          background-color: rgb(233,233,233,1);

          box-shadow:
            inset 0 0 0 2px rgb(233,233,233,1),
            inset 0 0 0 4px rgb(169,152,104,);

          box-sizing: border-box;

        & td.MuiTableCell-root {

          color: inherit;
          background-color: transparent;
          font-family: inherit;
          font-size: inherit;
          font-size: 0.95em;

          & img {
            height: 1.5em;
          }

          & span {
            padding-left: 0.25em;
          }

        }

      }

    }

  }

}