.App {
  background-color: white;
  color: black;
  font-family: "./public/fonts/Garamong-Regular";
  letter-spacing: 0.025em;
  font-size: 15px;
  display: flex; 
  flex-direction: column; 
  height: 100vh;

  & > div.split-pane {
    --divider-width: 5px;
    --divider-margin: var(--divider-width);
    --divider-half: calc( var(--divider-width) + (var(--divider-margin)*2)/2);
    flex: 1;

    & > div.split-pane-divider.horizontal:after {
      content: '';
      position: absolute;
      z-index: 1;
      width: var(--divider-width) !important;
      height: calc(100% - var(--divider-margin));
      background-color: rgb(220, 220, 220);
      border-radius: 5px;
      transform: translate( calc(-50% + 1px),0);
      &:hover {
        background-color: rgb(185, 185, 185);
      }
    }

    & #left-pane-contents {
      padding-right: var(--divider-half);
    }

    & #right-pane-contents {
      padding-left: var(--divider-half);
    }

    & svg {
      width: 100% !important;
    }

  }
}

.settings {

  & button {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
  }

  & .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }

  & .popup {
    --popup-radius: 20px;
    --popup-padding: 1em;

    width: 75vw;
    height: 75vh;
    max-width: 40em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    
    border-radius: var(--popup-radius);
    box-shadow: 0 0 10px rgb(0,0,0,1);

    padding: var(--popup-padding);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  white;
    z-index: 10000;

    clip-path: url("https://raw.githubusercontent.com/srishti-lamba/FEW3H-BattleList/refs/heads/main/public/images/ui-background/two-diamonds.svg#two-diamonds");

      & h1 {
        width: 100%;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      & .section {
        --section-radius: 5px;

        display: flex;
        flex-direction: row;

        position: relative;
        align-content: center;

        max-height: 100%;
        width: calc(100% - (2 * var(--popup-padding)));

        padding: var(--popup-padding);
        margin: 0px;

        background-color: rgb(8,8,8,1);
        border-radius: var(--section-radius);
        color: white;

        box-shadow:
        inset 0 0 0 2px rgb(8,8,8,1),
        inset 0 0 0 4px rgb(106,101,74, 0.5);

        & .prompt {
          /*flex-basis: 30%;*/
          margin-right: 1em;
          min-height: 100%;
          align-content: center;
        }

        & .buttons {
          --button-border-radius: 4px;
          --button-gap: 2px;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex-grow: 1;
          gap: var(--button-gap);
          border-radius: calc( var(--button-border-radius) + var(--button-gap) );

          background: 
              linear-gradient(135deg, transparent, rgb(97,88,65,0.75)) border-box,
              linear-gradient(to right, transparent, rgb(141,141,122,1), 
                                        transparent, rgb(137,137,137,1),
                                        transparent, rgb(98,89,66,0.75),
                                        transparent, rgb(91,92,87,1),
                                        transparent, rgb(91,79,59,1)) border-box,
              linear-gradient(rgb(92,92,88,1) 0 0) border-box;

          & button {
            all: unset;
            height: fit-content;
            border-radius: 0px;
            flex-grow: 1;
            flex-basis: 1em;
            z-index: 10001;

            text-align: center;
            align-items: center;
            overflow:hidden;
            padding: 0.5em 0px 0.5em 0px;
            margin: var(--button-gap) 0px var(--button-gap) 0px;


            background-color: rgb(9,9,9,1);
            color: rgb(73,73,73);
            
          }

          & button:first-of-type {
            border-top-left-radius: var(--button-border-radius);
            border-bottom-left-radius: var(--button-border-radius);
            margin-left: var(--button-gap);
          }

          & button:last-of-type {
            border-top-right-radius: var(--button-border-radius);
            border-bottom-right-radius: var(--button-border-radius);
            margin-right: var(--button-gap);
          }

          & button.active, button.active:hover {
            background-color: rgb(83,78,83);
            color: rgb(223,218,223,1);
          }

          & button:hover {
            background-color: rgb(39,39,39,1);
            color: rgb(123,118,123,1);
          }

        }

      }

      & span.chapter-selection {
        --option-padding: 0.5em;
        --image-padding: 0.2em;
        & > span.chapter-selection-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: min-content;
          position: relative;
          & > span.chapter-selection-arrow-wrapper {
            height: 1em;
            padding: var(--image-padding);
            position: relative;
            &:hover::after {
              content: ' ';
              display: block;
              position: absolute;
              background-color: rgb(255, 255, 255);
              mask-image: url(../public/images/ui-icons/down-arrow-mask.svg);
              mask-repeat: no-repeat;
              mask-clip: padding-box;
              mask-size: calc(100% - var(--image-padding));
              mask-position: center;
              aspect-ratio: 1;
              width: 80%;
              z-index: 200;
              top: -10%;
              left: 9%;
              filter: blur(5px);
            }
            &:has(img.chapter-selection-up-arrow):hover::after {
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
                /* bottom: 0.5%; */
                /* top: -27%; */
              }
            & > img {
              height: 100%;
              z-index: 0;
              position: relative;
            }
            & > img.chapter-selection-up-arrow {
              -webkit-transform: scaleY(-1);
              transform: scaleY(-1);
              /* margin-bottom: calc(var(--option-padding)*0.5); */
            }
            & > img.chapter-selection-down-arrow {
              /* margin-top: calc(var(--option-padding)*0.5); */
            }
          }
          & > div.chapter-selection-dropdown {
            & > div:nth-child(4) {
              z-index: 2;
              /* height: max-content; */
              & > div[role="listbox"] {
                width: max-content;
                background-color: rgb(8,8,8,1);
                text-align: center;
                overflow: scroll;
                /* height: calc(100% + 10em); */
                & > div { /* Children: GroupLabel and ListOfOptions */
                  padding: 0px;
                  &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:last-child) { /* Part Two subgroups */
                    & > div:first-child {
                      font-size: 0.8em;
                    }
                    & > div:not(:first-child) {
                      & > div[role="option"] {
                        padding-left: calc(var(--option-padding)*2);
                      }
                    }
                  }
                  & > div:first-child { /* GroupLabel */
                    color: rgb(169,152,104);
                    padding-top: 0.5em;
                    position: relative;
                    font-size: 0.95em;
                    font-variant: small-caps;
                    text-transform: none;
                    &:after { /* Underline of GroupLabel */
                      content: ' ';
                      height: 1px;
                      width: 100%;
                      background-image: linear-gradient(to right, transparent 0%,rgb(169,152,104) 50%,transparent 100%) !important;
                      position: absolute;
                      z-index: 10;
                      left: 0%;
                      bottom: 0.1em;
                    }
                  }
                  & > div:not(:first-child) { /* List of options */
                    padding: 0 var(--option-padding);
                    & > div[role="option"] /* Option */
                    {
                      color: rgb(223,218,223,1);
                      background-color: inherit;
                      text-align: left;
                      font-size: 0.85em;
                      padding: calc(var(--option-padding)*0.8) var(--option-padding);
                      &[aria-selected="true"], &[aria-selected="true"]:hover {
                        background-color: rgb(83,78,83);
                        color: rgb(223,218,223,1);
                      }
                      &:hover {
                        background-color: rgb(39,39,39,1);
                        color: rgb(123,118,123,1);
                      }
                    }
                  }
                }
                & div:last-child {
                  padding-bottom: 1em;
                }
              }
            }
          }
        }
      }

      & .section:hover::before {
        display: block;
        content: '';
        box-sizing: border-box;

        background-color: transparent;
        border-radius: var(--section-radius);
        border: 1px solid white;
        box-shadow: inset 0 0 3px 1px rgb(255, 255, 255, 0.9), 0 0 3px 1px rgb(255, 255, 255, 0.9);

        height: calc(100% - 8px);
        width: calc(100% - 8px);
        position: absolute;
        top: 4px;
        left: 4px;
      }

  }

  & .popup::before {
    content: ' ';
    position: absolute;
    width: 70%;
    aspect-ratio: 1;
    background-color: rgb(225,227,224);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    clip-path: url(#three-diamonds-clip);
    background-size: cover;
  }

}

.MuiPaper-root {
  --Paper-shadow: none !important;

  & table.MuiTable-root {

    & thead.MuiTableHead-root {

      & tr.MuiTableRow-root {

        & th.MuiTableCell-head {
          font-family: inherit;
          font-size: inherit;
        }
      }
    }

    & tbody.MuiTableBody-root {

      --edge: 8px;
      --var: 1.74;
      --end: 98.5;
      --border: 3px;
      --row-clip-path: shape(
        from calc( var(--edge)*(1.74/var(--var))) 1.6%,
        curve to calc(var(--edge)*(1.08/var(--var))) 17.84% with calc(var(--edge)*(1.19/var(--var))) 04.58%/calc(var(--edge)*(1.08/var(--var))) 7.195%,
        curve to calc(var(--edge)*(1.04/var(--var))) 25.66% with calc(var(--edge)*(1.08/var(--var))) 22.05%/calc(var(--edge)*(1.06/var(--var))) 25.57%,
        curve to calc(var(--edge)*(0.27/var(--var))) 36.80% with calc(var(--edge)*(0.89/var(--var))) 26.20%/calc(var(--edge)*(0.27/var(--var))) 35.19%,
        curve to calc(var(--edge)*(0.22/var(--var))) 38.27% with calc(var(--edge)*(0.27/var(--var))) 37.15%/calc(var(--edge)*(0.25/var(--var))) 37.81%,
        curve to calc(var(--edge)*(0.22/var(--var))) 61.72% with calc(var(--edge)*(0.07/var(--var))) 43.05%/calc(var(--edge)*(0.07/var(--var))) 56.99%,
        curve to calc(var(--edge)*(0.27/var(--var))) 63.29% with calc(var(--edge)*(0.25/var(--var))) 62.17%/calc(var(--edge)*(0.27/var(--var))) 62.88%,
        curve to calc(var(--edge)*(0.92/var(--var))) 73.31% with calc(var(--edge)*(0.27/var(--var))) 64.43%/calc(var(--edge)*(0.73/var(--var))) 71.52%,
        line to calc(var(--edge)*(01.09/var(--var))) 74.9%,
        line to calc(var(--edge)*(01.09/var(--var))) 82.35%,
        curve to calc(var(--edge)*(1.71/var(--var))) 98.34% with calc(var(--edge)*(1.08/var(--var))) 92.58%/calc(var(--edge)*(1.17/var(--var))) 95.08%,
        line to calc(var(--edge)*(01.99/var(--var))) 100%,
        line to calc(var(--edge)*(50.00/var(--var))) 100%,
        line to calc((var(--edge)*((98.02 - var(--end))/var(--var))) + (100% - var(--edge))) 99.99%,
        line to calc((var(--edge)*((98.30 - var(--end))/var(--var))) + (100% - var(--edge))) 98.22%,
        curve to calc((var(--edge)*((98.90 - var(--end))/var(--var))) + (100% - var(--edge))) 83.49% with calc((var(--edge)*((98.80 - var(--end))/var(--var))) + (100% - var(--edge))) 95.10%/calc((var(--edge)*((98.88 - var(--end))/var(--var))) + (100% - var(--edge))) 93.23%,
        curve to calc((var(--edge)*((99.26 - var(--end))/var(--var))) + (100% - var(--edge))) 71.08% with calc((var(--edge)*((98.92 - var(--end))/var(--var))) + (100% - var(--edge))) 75.12%/calc((var(--edge)*((98.99 - var(--end))/var(--var))) + (100% - var(--edge))) 72.81%,
        curve to calc((var(--edge)*((99.72 - var(--end))/var(--var))) + (100% - var(--edge))) 63.22% with calc((var(--edge)*((99.35 - var(--end))/var(--var))) + (100% - var(--edge))) 70.57%/calc((var(--edge)*((99.72 - var(--end))/var(--var))) + (100% - var(--edge))) 64.15%,
        curve to calc((var(--edge)*((99.76 - var(--end))/var(--var))) + (100% - var(--edge))) 61.91% with calc((var(--edge)*((99.72 - var(--end))/var(--var))) + (100% - var(--edge))) 62.68%/calc((var(--edge)*((99.74 - var(--end))/var(--var))) + (100% - var(--edge))) 62.09%,
        curve to calc((var(--edge)*((99.92 - var(--end))/var(--var))) + (100% - var(--edge))) 42.14% with calc((var(--edge)*((99.98 - var(--end))/var(--var))) + (100% - var(--edge))) 60.08%/calc((var(--edge)*((100.0 - var(--end))/var(--var))) + (100% - var(--edge))) 47.05%,
        curve to calc((var(--edge)*((99.76 - var(--end))/var(--var))) + (100% - var(--edge))) 37.67% with calc((var(--edge)*((99.87 - var(--end))/var(--var))) + (100% - var(--edge))) 40.72%/calc((var(--edge)*((99.80 - var(--end))/var(--var))) + (100% - var(--edge))) 38.71%,
        curve to calc((var(--edge)*((99.11 - var(--end))/var(--var))) + (100% - var(--edge))) 26.97% with calc((var(--edge)*((99.67 - var(--end))/var(--var))) + (100% - var(--edge))) 35.02%/calc((var(--edge)*((99.34 - var(--end))/var(--var))) + (100% - var(--edge))) 29.55%,
        line to calc((var(--edge)*((98.92 - var(--end))/var(--var))) + (100% - var(--edge))) 24.8%,
        line to calc((var(--edge)*((98.89 - var(--end))/var(--var))) + (100% - var(--edge))) 16.78%,
        curve to calc((var(--edge)*((98.15 - var(--end))/var(--var))) + (100% - var(--edge))) 0.92% with calc((var(--edge)*((98.86 - var(--end))/var(--var))) + (100% - var(--edge))) 5.99%/calc((var(--edge)*((98.74 - var(--end))/var(--var))) + (100% - var(--edge))) 3.27%,
        curve to calc((var(--edge)*((49.97 - var(--end))/var(--var))) + (100% - var(--edge))) 0.01% with calc((var(--edge)*((97.91 - var(--end))/var(--var))) + (100% - var(--edge))) 0.01%/calc((var(--edge)*((97.67 - var(--end))/var(--var))) + (100% - var(--edge))) 0.02%,
        line to calc((var(--edge)*((2.03 - var(--end))/var(--var))) + (100% - var(--edge))) 0.03%,
      );

      gap: 0.5em;
      overflow:visible !important;

      & tr.MuiTableRow-root {

        position: relative;

        color: rgb(55, 55, 55);
        background-color: rgb(233,233,233) !important;
        transition: background-color 0ms;
        height: 3em;
      	aspect-ratio: 8.222;
      	clip-path: var(--row-clip-path);
        overflow:visible;
        z-index: 1;

        /* mask-image: var(--row-clip-path);
        mask-repeat: no-repeat;
        mask-clip: padding-box;
        mask-size: 100%;
        mask-position: center; */

        &:before {
          all: unset;
          content: '';
          position: absolute;
          background-color: rgb(169,152,104);
          height: calc(100% - var(--border)*2);
          width: calc(100% - var(--border)*2);
          top: var(--border);
          left: var(--border);
          font-size: 1em;
          clip-path: var(--row-clip-path);
          z-index: 2;
          overflow:visible;
        }

        &:after {
          all: unset;
          content: ' ';
          position: absolute;
          background: 
            url(../public/images/ui-background/three-diamonds-white.svg) repeat-x center center, 
            rgb(233,233,233);
          background-size: 21%, 100%;
          transition: background-color 0ms;
          height: calc(100% - var(--border)*4);
          width: calc(100% - var(--border)*4);
          top: calc(var(--border)*2);
          left: calc(var(--border)*2);
          font-size: 1em;
          clip-path: var(--row-clip-path);
          z-index: 3;
          overflow:visible;
        }

        &:hover, &[data-selected="true"] {
          background: linear-gradient(45deg, rgb(98,8,8) 0%,rgb(200,25,10) 50%,rgb(98,8,8) 100%) !important;
          background-repeat: repeat-x, no-repeat;
          background-size: 100%;
          color: rgb(233,233,233);
          transition: background-color 0ms;
          z-index: 1;

          &:after {
            background-image: unset !important;
            background: 
              url(../public/images/ui-background/three-diamonds-red.svg) center center,
              linear-gradient(45deg, rgb(98,8,8) 0%,rgb(200,25,10) 50%,rgb(98,8,8) 100%) !important;
            background-repeat: repeat-x, no-repeat;
            background-size: 21%, 100% !important;
            z-index: 3;
          }

          & td.MuiTableCell-root {
            background-image: unset !important;

            &:after {
              background-color: transparent !important;
            }
          }
        }

        &:hover {
          & > td.MuiTableCell-root:first-child {
            overflow: visible;
            &::before {
              content: ' ';
              position: absolute;
              height: 30px;
              width: 30px;
              left: -30px;
              background-color: red;
              
            }
          }
        }

        & td.MuiTableCell-root {

          color: inherit;
          background-color: transparent;
          transition: background-color 0ms;
          font-family: inherit;
          font-size: inherit;
          font-size: 0.95em;
          margin: calc((var(--border)*2)) 0px;
          z-index: 4;
          border: none;

          &:first-child {
            /* margin-left: calc(var(--border)*2); */
            margin-left: 1em;
          }

          &:nth-last-child(2) {
            /* margin-right: calc(var(--border)*2); */
            margin-right: 1em;
          }

          &:last-child {
            background-color: transparent;
            
          }

          & img {
            height: 1.5em;
          }

          & span {
            padding-left: 0.25em;
          }

        }

      }

      /* & tr.MuiTableRow-root:before {
          all: unset;
          content: '';
          position: absolute;
          background-color: rgb(169,152,104);
          height: calc(100% - var(--border)*2);
          width: calc(100% - var(--border)*2);
          top: var(--border);
          left: var(--border);
          font-size: 1em;
          clip-path: var(--row-clip-path);
          z-index: 2;
          overflow:visible;
        } */

    }

  }

}

/* .test {
  --height : 3em;

  height: var(--height);
  width: 100%;
  background-color: whitesmoke;
  background-image:
    url(/public/images/ui-background/missionRow/inner-side-left-edge.svg),
    url(/public/images/ui-background/missionRow/inner-side-right-edge.svg),
    url(/public/images/ui-background/missionRow/inner-side-middle.svg),
    url(/public/images/ui-background/missionRow/outer-left-edge.svg),
    url(/public/images/ui-background/missionRow/outer-right-edge.svg),
    linear-gradient(
      90deg, 
      transparent calc(var(--height) * 0.171428571), 
      rgb(98,8,8) calc(var(--height) * 0.171428571),
      rgb(200,25,10) 50%,
      rgb(98,8,8) calc(100% + ((var(--height) * -0.171428571))),
      transparent calc(100% + ((var(--height) * -0.171428571))))
  ;
  background-repeat: 
    no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position:
    left, right, center, left, right, center;
  background-size: auto, auto, calc(100% - 3.5em + 2px), auto;
} */

.test {
  --height : 3em;

  height: var(--height);
  width: 100%;
  background-color: whitesmoke;
  background-image:
    url(/public/images/ui-background/missionRow/side-left-base.svg),
    url(/public/images/ui-background/missionRow/side-right-base.svg),
    url(/public/images/ui-background/missionRow/side-middle-base.svg),
    linear-gradient(
      90deg, 
      transparent calc(var(--height) * 0.171428571), 
      rgb(233,233,233) calc(var(--height) * 0.171428571),
      rgb(233,233,233) 50%,
      rgb(233,233,233) calc(100% + ((var(--height) * -0.171428571))),
      transparent calc(100% + ((var(--height) * -0.171428571))));
  background-repeat: 
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-position:
    left, right, center, center;
  background-size: auto, auto, calc(100% - 3.5em + 2px), auto;

  &:hover {
    background-image:
    url(/public/images/ui-background/missionRow/side-left-hover.svg),
    url(/public/images/ui-background/missionRow/side-right-hover.svg),
    url(/public/images/ui-background/missionRow/side-middle-hover.svg),
    linear-gradient(
      90deg, 
      transparent calc(var(--height) * 0.171428571), 
      rgb(98,8,8) calc(var(--height) * 0.171428571),
      rgb(200,25,10) 50%,
      rgb(98,8,8) calc(100% + ((var(--height) * -0.171428571))),
      transparent calc(100% + ((var(--height) * -0.171428571))));
  }

}

.test2 {
  --height : 3.55em;

  margin-top: 1em;

  height: var(--height);
  width: 100%;
  background-color: whitesmoke;
  background-image:
    url(/public/images/ui-background/missionRow/main-left-base.svg),
    url(/public/images/ui-background/missionRow/main-right-base.svg),
    url(/public/images/ui-background/missionRow/two-diamonds-base.svg),
    url(/public/images/ui-background/missionRow/main-middle-base.svg);
  background-repeat: 
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-position:
    left, right, center, center;
  background-size: auto, auto, calc(100% - ((var(--height) * 3.77142857143)*2) + 2px) 100%, calc(100% - ((var(--height) * 0.54285714285)*2) + 2px) 100%;

  &:hover {
    background-image:
    url(/public/images/ui-background/missionRow/main-left-hover.svg),
    url(/public/images/ui-background/missionRow/main-right-hover.svg),
    url(/public/images/ui-background/missionRow/two-diamonds-hover.svg),
    url(/public/images/ui-background/missionRow/main-middle-hover.svg);
  }

}